streamlit
pandas
numpy
plotly
joblib
scikit-learn==1.6.1
xgboost
shap
matplotlib
fastapi
uvicorn[standard]
pydantic
python-multipart
requests
pytz
chromadb
sentence-transformers
groq
websockets
metpy
boto3
satpy
